<div
	class="
		modal
		${props.center ? 'center' : ''}
		${props.kind || 'default'}
		${props.show ? '' : 'hidden'}
		${props.unclosable ? 'unclosable' : ''}
	">
	<div class="container">
		<rb-button
			kind="text"
			icon="times"
			class="close"
			icon-source="solid"
			@click="${this.closeModal.bind(this)}">
		</rb-button>
		<header>
			<slot name="header"></slot>
		</header>
		<div class="body">
			<slot></slot>
		</div>
		<footer>
			<slot name="footer"></slot>
		</footer>
	</div>
</div>

<link rel="stylesheet" href="../styles/rb-modal.css">
