<div
	class="
		modal
		${props.center ? 'center' : ''}
		${props.kind || 'default'}
		${props.open ? '' : 'hidden'}
		${props.noBackdrop ? 'no-backdrop' : ''}
		${props.unclosable ? 'unclosable' : ''}
	">
	<div class="content">
		<rb-button
			text
			class="close"
			kind="neutral"
			icon-kind="times"
			icon-source="solid"
			@click="${this.closeModal.bind(this)}">
		</rb-button>
		<header ?hidden="${!state.slots.header}">
			<slot name="header" @slotchange="${this._setSlotState.bind(this)}"></slot>
		</header>
		<div class="body" ?hidden="${!state.slots.body}">
			<slot @slotchange="${this._setSlotState.bind(this)}"></slot>
		</div>
		<footer ?hidden="${!state.slots.footer}">
			<slot name="footer" @slotchange="${this._setSlotState.bind(this)}"></slot>
		</footer>
	</div>
</div>

<link rel="stylesheet" href="../styles/rb-modal.css">
