/**********
 * OPTIONS
 **********/
.modal {
	&.unclosable {
		rb-button {
			display: none;
		}
	}
	&.center {
		align-items: center;
	}
	&:not(.backdrop) {
		background-color: transparent;
		.content {
			box-shadow: 0 0.5rem 1rem #00000026;
		}
	}
}