/*********
 * COMMON
 *********/
 & {
 	position: fixed;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	z-index: 2000;
 	display: flex;
 	align-items: flex-start;
 	background-color: rgba(0, 0, 0, 0.5);

	/* Helpers
	 **********/
 	&.hidden {
 		display: none;
 	}

	/* Modal
	 ********/
 	.container {
		position: relative;
 		max-width: 500px;
 		margin: 1.75rem auto;
 		background-color: white;
 		border: 1px solid rgba(0, 0, 0, .2);
 		border-radius: .3rem;
 		flex-grow: 1;

 		/* Close Button
 		 ***************/
		.close { // coords set to not overlap content
			position: absolute;
			top: 5px;
			right: 13px;
			padding: 0;
			transition: all .2s linear;
			&:hover {
				filter: brightness(.3);
			}
		}

 		/* Slots (Conditional Borders)
 		 *********************/
 		header:not([hidden]) ~ *,
 		.body:not([hidden])  ~ * {
 			border-top: 1px solid #e9ecef;
 		}
		// margin to collapse bottom margin on last slot elm
		header, footer, .body { padding: 16px 16px 0; }
		header, footer { margin-bottom: 16px; }
		.body { margin-bottom: 18px; }
 	}

	/* Options
	 **********/
	&.unclosable {
		rb-button {
			display: none;
		}
	}
 	&.center {
 		align-items: center;
 	}
	&.no-backdrop {
		background-color: transparent;
		.container {
			box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
		}
	}
 }
